<!DOCTYPE html>
<html lang="en">
<head>
<%- include("../partials/links") %>
<link href="/css/orders.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>
<body>
        <script>
                localStorage.setItem("display","<%=display%>")
                console.log(localStorage.getItem("display"))
        </script>
        <%- include("../partials/adminNav") %>
        <div class="orders-layout">
                <div class="search-group">
                        <div class="search-box">
                                <label for="search" id="search"><i data-lucide="search" class="search-icon" style="width: 23px; height: 23px; margin-left: 5px;margin-right:5px;"></i></label>
                                <input type="text" id="searchBox" placeholder="Enter Search Query">
                        </div>
                        <div class="pg-grp"><span class="pg-grp-bt" id="prev"><i data-lucide="step-back" class="icon"></i></span><span class="page-num">1</span><span class="pg-grp-bt" id="next"><i data-lucide="step-forward" class="icon"></i></span></div>
                        <div class="item-count"></div>
                        <i data-lucide="notebook-text" id="summary"></i>  
       

                </div>

                <div class="order-list">
                        <table class="order-table">
                                <thead class="table-head-box">
                                        <th class="table-head-item" style="border-top-left-radius:5px ; 
                                        width: 25%;">Buyer Name</th>
                                        <th class="table-head-item" style="width: 19%;">Invoice No.</th>
                                        <th class="table-head-item"> Order Date</th>
                                        <th class="table-head-item" style="width: 10%;">Amount</th>
                                        <th class="table-head-item">Payment<br>Status</th>
                                        <th class="table-head-item" style="border-top-right-radius:5px ;">Order Status</th>
                                </thead>

                                <tbody class="table-body">
                        <%for(let i = data.length - 1; i >= 0; i--){
                                const order = data[i]%>
                                <%const date = new Date(order.date);%>
                                <% const formatted = date.toLocaleDateString("en-IN", {
                                        day: "2-digit",
                                        month: "long",
                                        year: "numeric",
                                        timeZone: 'Asia/Kolkata'
                                        });
                                %>
                                
                                <tr class="table-body-row" data-href="/admin/orders/orderPage/<%=order.orderId%>">
                                        <td class="table-body-item" style="border-left: 1px solid var(--clr-border-light);">
                                                <span class="order-link"><%=order.customerName%></span>
                                        </td>
                                        <td class="table-body-item"><%=order.invoiceNumber%></td>
                                        <td class="table-body-item"><%=formatted%></td>
                                        <td class="table-body-item">₹<%=Math.round(order.summary.grandTotal)%></td>
                                        <td class="table-body-item"><span id = "payment-status"><%=order.paymentInfo.paymentStatus%></span></td>
                                        <td class="table-body-item" style="border-right: 1px solid var(--clr-border-light);"><span id="order-status"><%=order.orderStatus%></span></td>
                                </tr>
                               

                        <%}%>
                         </tbody>
                        </table>
                         

                        <%if(data.length == 0){%>
                                <div class="empty-msg">
                                        <p><i data-lucide="circle-x" class="empty-icon"></i>No Existing Orders Found</p>
                                        </div>
                        <%}%>

                </div>
        </div>
        <script>
                lucide.createIcons();
        </script>
        <script>
                window.dataset = <%- JSON.stringify(data) %>;
        </script>
        <script src="/js/orders.js"></script>
        
</body>
</html>